@import "../../../styles.scss";

header {
  background-color: $alt-color;
  height: 100px;
  padding: 10px 0;
}

.icon-container {
  float: right;
}

.burger-button {
  cursor: pointer;
  margin: 10px;
}

.visible {
  left: 100px;
}
    