<header>
  <div class="wrapper">
    <div class="header_container">
      <app-navigation></app-navigation>
      <div class="icon-container">
        <a class="burger-button" (click)="closeNavigation()" routerLink="/user-page"><fa-icon [icon]="faUser"></fa-icon></a>
        <a class="burger-button" (click)="closeNavigation()" routerLink="/shoping-cart"><fa-icon [icon]="faCartArrowDown"></fa-icon></a>
        <a class="burger-button" (click)="toggleNavigation()">
          <fa-icon *ngIf="!isNavShown" [icon]="faBars"></fa-icon>
          <fa-icon *ngIf="isNavShown" [icon]="['fas', 'times']"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</header>
