<header>
  <div class="wrapper">
    <div class="header_container">
      <app-navigation #navigation></app-navigation>
      <app-login #login></app-login>
      <div class="icon-container">
        <a 
          class="header_icon" 
          (click)="navigation.hide(); login.toggle();" 
          >
          <fa-icon [icon]="['fas', 'user']"></fa-icon>
        </a>
       
          <a class="header_icon shopping_cart_icon" (click)="navigation.hide()" routerLink="/shoping-cart">
            <fa-icon icon="shopping-cart"></fa-icon>
            <div *ngIf="(products$ | async)?.length !== 0" class="products_indicator">{{(products$ | async)?.length}}</div>
          </a>
        
        <a class="header_icon" (click)="navigation.toggle()">
          <fa-icon *ngIf="!navigation.isVisible" [icon]="['fas', 'bars']"></fa-icon>
          <fa-icon *ngIf="navigation.isVisible" [icon]="['fas', 'times']"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</header>
