@import "../../../styles.scss";

.login_container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(226, 226, 226, 0.445);
    transition: .5s;
    z-index: 5;
}

.login_bar {
    float: right;
    height: 100vh;
    width: 500px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    transition: .5s;
    z-index: 10;
}

.login_nav {
    padding-top: 150px;
    padding-left: 20px;
}
    
.login_nav__item {
    padding-top: 10px;
      
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
}

.header_icon {
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 50%;
    transition: .3s;
    float: right;
  
    &:hover {
      cursor: pointer;
      background-color: $alt-color;
    }
  
    fa-icon {
      position:relative;
      top: calc(50% - 10px);
    }
  }

