$alt-color: #dfdfdf;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 0 15px;
}

.page{
  height: calc(100vh - 300px);
  padding: 10px 0;
}